# Ignorer les fichiers de logs
*.log
logs/

#Ignorer les Makefile
**/Makefile
Makefile

# Ignorer les fichiers d'environnement
weather-forecast-frontend/.env
.env
.python-version
*.ipynb
# Ignorer les fichiers de base de données
*.sqlite3

# Ignorer les fichiers de cache
__pycache__/
*.pyc

# dependencies
weather-forecast-frontend/node_modules
weather-forecast-frontend/.pnp
.pnp.js

# testing
weather-forecast-frontend/coverage

# production
weather-forecast-frontend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
